<form [formGroup]="myform" (ngSubmit)="savePermis()">

    <!-- Grid -->
    <div class="grid">

      <label for="dateEmission">
        Date d'émission
        <input type="date" id="dateEmission" name="dateEmission" formControlName="dateEmission">
      </label>

      <label for="dateExpiration">
        Date d'Expriration
        <input type="date" id="dateExpiration" name="dateExpiration" formControlName="dateExpiration">
      </label>
  
    </div>

    <div class="grid">
  
        <label for="points">
            Points
          <input type="text" id="points" name="points" formControlName="points"  placeholder="1000">
        </label>
    
        <!-- Select -->
        <label for="conducteur">Conducteur</label>
        <select formControlName="conducteur" (change)="selectChangeHandler($event)">
        <option value="" selected>Choisir un conducteur</option>
        <option *ngFor="let u of conducteurs; index as i" value="{{u.id}}">{{u.id}} </option>
        </select>


        <label for="type">Type</label>
        <select formControlName="type">
        <option value="" selected>Type de permis</option>
        <option *ngFor="let type of types | keyvalue" [ngValue]="type.value">{{type.value}} </option>
        </select>

      </div>
  
    <!-- Button -->
    <button [disabled]="myform.invalid" type="submit">Submit</button>
  
  </form>