<form [formGroup]="myform" (ngSubmit)="OnupdatePermis()">

    <!-- Grid -->
    <div class="grid">

      <label for="dateEmission">
        Date d'émission
        <input type="date" id="dateEmission" name="dateEmission" formControlName="dateEmission" [(ngModel)]="dateEmission">
      </label>

      <label for="dateExpiration">
        Date d'Expriration
        <input type="date" id="dateExpiration" name="dateExpiration" formControlName="dateExpiration" [(ngModel)]="dateExpiration">
      </label>
  
    </div>

    <div class="grid">
  
        <label for="points">
            Points
          <input type="text" id="points" name="points" formControlName="points"  [(ngModel)]="permis.points">
        </label>
    
        <!-- Select -->
        <label for="conducteur">Conducteur
        <select formControlName="conducteur" (change)="selectChangeHandler($event)" [(ngModel)]="permis.conducteur.id">
        <option value="">Choisir un conducteur</option>
        <option *ngFor="let u of conducteurs; index as i" value="{{u.id}}"  >{{u.id + ' | '}}{{u.nom | uppercase}} {{" " +u.prenom}}</option>
        </select>
      </label>

        <label for="type">Type
        <select formControlName="type" [(ngModel)]="permis.type">
        <option value="" selected>Type de permis</option>
        <option *ngFor="let type of types | keyvalue"  [ngValue]="type.value">{{type.value}}</option>
        </select>
      </label>
      </div>
  
    <!-- Button -->
    <button [disabled]="myform.invalid" type="submit">Submit</button>
  
  </form>