    <table>
    <tbody>
      <tr>
        <td><b>Conducteur ID</b></td>
        <td>{{currentConducteur.id}}</td>
      </tr>
      <tr>
        <td><b>Nom</b></td>
        <td>{{currentConducteur.nom}}</td>
      </tr>
      <tr>
        <td><b>Prénom</b></td>
        <td>{{currentConducteur.prenom}}</td>
      </tr>
      <tr>
        <td><b>Adresse</b></td>
        <td>{{currentConducteur.adresse}}</td>
      </tr>
      <tr>
        <td><b>Date de Naissance</b></td>
        <td>{{currentConducteur.dateNaissance | date:'EEEE, MMMM d, y'}}</td>
      </tr>
    </tbody>
    </table>
    
